<div class="body">
  <h4 class="category">{{ productCategory }}</h4>

  <div
    class="product"
    *ngFor="let model of models$ | async; let i = index"
    [class.reverse]="i % 2 !== 0"
  >
    <picture>
      <source media="(min-width: 1440px)" [srcset]="model.previewImg.desktop" />
      <source media="(min-width: 768px)" [srcset]="model.previewImg.tablet" />
      <img [src]="model.previewImg.mobile" [alt]="model.title + ' photo'" />
    </picture>

    <div class="info">
      <p class="new" *ngIf="model.newProduct">new product</p>
      <h4>{{ model.title }}</h4>
      <p class="description">{{ model.description }}</p>
      <button (click)="navigateTo(model.title)">see product</button>
    </div>
  </div>
</div>
