<h3 class="may_also_like">you may also like</h3>
<div class="container">
  <div *ngFor="let product of randomProducts$ | async">
    <picture>
      <source media="(min-width: 1440px)" [srcset]="product.mayLike.desktop" />
      <source media="(min-width: 768px)" [srcset]="product.mayLike.tablet" />
      <img [src]="product.mayLike.mobile" [alt]="product.title + ' photo'" />
    </picture>
    <h3>{{ product.title }}</h3>
    <button (click)="navigateTo(product.title)">see product</button>
  </div>
</div>
