<div class="new_product" *ngIf="newProduct$ | async as newProduct">
  <picture>
    <source
      media="(min-width: 1440px)"
      [srcset]="newProduct.previewImg.desktop"
    />
    <source
      media="(min-width: 768px)"
      [srcset]="newProduct.previewImg.tablet"
    />
    <img [src]="newProduct.previewImg.mobile" alt="description" />
  </picture>

  <div class="info">
    <h6 *ngIf="newProduct.newProduct">New product</h6>
    <h2>{{ newProduct.title }}</h2>
    <p>{{ newProduct.description }}</p>
    <button class="btn_primary" (click)="navigateTo(newProduct.title)">
      see product
    </button>
  </div>
</div>

<app-categories></app-categories>

<div class="commercials" *ngIf="commercials$ | async as commercials">
  <div class="product_1">
    <img [src]="commercials[1].img.desktop" alt="" />
    <h6>{{ commercials[1].title }}</h6>
    <p>{{ commercials[1].description }}</p>
    <button (click)="navigateTo(commercials[1].title)">see product</button>
  </div>

  <div class="product_2">
    <picture>
      <source
        media="(min-width: 1440px)"
        [srcset]="commercials[2].img.desktop"
      />
      <source media="(min-width: 768px)" [srcset]="commercials[2].img.tablet" />
      <img
        class="earphone_photo"
        [src]="commercials[2].img.mobile"
        alt="description"
      />
    </picture>
    <div class="info">
      <h6>{{ commercials[2].title }}</h6>
      <button (click)="navigateTo(commercials[2].title)">see product</button>
    </div>
  </div>

  <picture>
    <source media="(min-width: 1440px)" [srcset]="commercials[3].img.desktop" />
    <source media="(min-width: 768px)" [srcset]="commercials[3].img.tablet" />
    <img
      class="earphone_photo"
      [src]="commercials[3].img.mobile"
      alt="description"
    />
  </picture>

  <div class="product_3">
    <h6>{{ commercials[3].title }}</h6>
    <button (click)="navigateTo(commercials[3].title)">see product</button>
  </div>
</div>

<app-article></app-article>
