@import "../../../scss/variables/colors.scss";
@import "../../../scss/mixins/fonts.scss";
@import "../../../scss/mixins/button_mixins.scss";

.new_product {
  position: relative;
  border-top: 0.1rem solid $secondary_header_color;
  margin: -9rem auto 0 auto;

  picture img {
    height: 60rem;
    width: 37.5rem;
    z-index: 1;

    @media only screen and (min-width: 768px) {
      height: 72.9rem;
      width: 76.8rem;
    }

    @media only screen and (min-width: 1440px) {
      width: 144rem;
    }
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;

    h6 {
      margin: 19.8rem auto 1.6rem auto;
      @include font_overline;
      color: $primary_color_white_plain;
      opacity: 0.5;
      text-align: center;

      @media only screen and (min-width: 768px) {
        margin: 21.6rem auto 2.4rem auto;
      }

      @media only screen and (min-width: 1440px) {
        margin: 22.5rem auto 2.4rem 16.5rem;
        text-align: left;
      }
    }

    h2 {
      margin: 0 auto;
      @include font_basics;
      font-size: 3.6rem;
      line-height: 4rem;
      text-align: center;
      letter-spacing: 0.128571rem;
      color: $primary_color_white_plain;

      @media only screen and (min-width: 768px) {
        @include H1;
      }

      @media only screen and (min-width: 1440px) {
        width: 42rem;
        margin-left: 16.5rem;
        text-align: left;
      }
    }

    p {
      width: 32.8rem;
      margin: 2.4rem auto 2.8rem auto;

      @include font_body;
      text-transform: none;
      color: $primary_color_white_plain;
      opacity: 0.75;
      text-align: center;

      @media only screen and (min-width: 768px) {
        width: 34.9rem;
        margin-bottom: 4rem;
      }

      @media only screen and (min-width: 1440px) {
        width: 34.9rem;
        margin-left: 16.5rem;
        text-align: left;
      }
    }

    .btn_primary {
      display: block;
      margin: 0 auto;
      @include btn_primary;

      @media only screen and (min-width: 1440px) {
        margin-left: 16.5rem;
      }
    }
  }
}

.commercials {
  margin: 12rem auto 0 auto;
  width: 32.7rem;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 2.4rem;
  column-gap: 1.1rem;

  @media only screen and (min-width: 768px) {
    margin-top: 9.6rem;
    width: 68.9rem;
    row-gap: 3.2rem;
  }

  @media only screen and (min-width: 1440px) {
    margin-top: 16.8rem;
    width: 111rem;
    row-gap: 4.8rem;
    column-gap: 3rem;
  }

  .product_1 {
    width: 32.7rem;
    background-color: $primary_color_dark_orange;
    border-radius: 8px;
    grid-column: 1 / span 2;

    @media only screen and (min-width: 768px) {
      width: 68.9rem;
    }

    @media only screen and (min-width: 1440px) {
      height: 56rem;
      width: 111rem;
      overflow: hidden;
    }

    img {
      display: block;
      height: 20.7rem;
      margin: 5.5rem auto 3.2rem auto;

      @media only screen and (min-width: 768px) {
        height: 23.7rem;
        margin: 5.2rem auto 6.4rem auto;
      }

      @media only screen and (min-width: 1440px) {
        height: 49.3rem;
        width: 41.023rem;
        margin: 8rem auto auto 11.749rem;
        float: left;
      }
    }

    h6 {
      width: 25rem;
      margin: 0 auto;
      @include font_basics;
      font-size: 3.6rem;
      line-height: 4rem;
      letter-spacing: 0.128571rem;
      text-align: center;
      color: $primary_color_white_plain;

      @media only screen and (min-width: 768px) {
        width: 26.1rem;
        @include H1;
      }

      @media only screen and (min-width: 1440px) {
        float: left;
        margin: 13.3rem auto 0 13.828rem;
        text-align: left;
      }
    }

    p {
      width: 28rem;
      margin: 2.4rem auto;
      @include font_body;
      text-align: center;
      color: $primary_color_white_plain;
      opacity: 0.75;

      @media only screen and (min-width: 768px) {
        width: 34.9rem;
        margin-bottom: 4rem;
      }

      @media only screen and (min-width: 1440px) {
        float: left;
        margin-left: 13.828rem;
        width: 34.9rem;
        text-align: left;
      }
    }

    button {
      display: block;
      margin: 0 auto 5.5rem auto;
      @include btn_secondary;
      background-color: $primary_color_black_1;
      color: $primary_color_white_plain;
      border: none;

      &:hover {
        background-color: $secondary_button_hover_color;
      }

      @media only screen and (min-width: 768px) {
        margin-bottom: 6.4rem;
      }

      @media only screen and (min-width: 1440px) {
        float: left;
        margin-left: 13.828rem;
      }
    }
  }

  .product_2 {
    position: relative;
    grid-column: 1 / span 2;

    picture img {
      height: 32rem;
      width: 32.7rem;
      border-radius: 8px;

      @media only screen and (min-width: 768px) {
        width: 68.9rem;
      }

      @media only screen and (min-width: 1440px) {
        width: 111rem;
      }
    }

    .info {
      position: absolute;
      top: 0;
      left: 0;

      h6 {
        width: 25rem;
        margin: 10.1rem 10.1rem 3.2rem 2.4rem;
        @media only screen and (min-width: 768px) {
          margin: 10.1rem auto 3.2rem 6.2rem;
        }
        @media only screen and (min-width: 1440px) {
          margin-left: 9.5rem;
        }
      }
      button {
        margin: 0 14.15rem 2.55rem auto;
        @media only screen and (min-width: 768px) {
          margin: 0 auto auto 6.375rem;
        }
        @media only screen and (min-width: 1440px) {
          margin-left: 9.65rem;
        }
      }
    }
  }

  .product_2,
  .product_3 {
    h6 {
      @include H4;
      color: $primary_color_black_1;
    }

    button {
      display: block;
      @include btn_secondary;
      background-color: transparent;

      &:hover {
        background-color: $primary_color_black_1;
        color: $primary_color_white_plain;
        border: none;
      }
    }
  }

  .earphone_photo {
    display: block;
    height: 20rem;
    width: 32.7rem;
    border-radius: 8px;
    grid-column: 1 / span 2;

    @media only screen and (min-width: 768px) {
      height: 32rem;
      width: 33.9rem;
      grid-column: 1 / span 1;
    }

    @media only screen and (min-width: 1440px) {
      width: 54rem;
    }
  }

  .product_3 {
    background-color: $secondary_color_grey;
    width: 32.7rem;
    height: 20rem;
    border-radius: 8px;

    grid-column: 1 / span 2;

    // h6 {
    //   width: 25rem;
    // }

    @media only screen and (min-width: 768px) {
      height: 32rem;
      width: 33.9rem;
      float: right;
      grid-column: 2 / span 1;
    }

    @media only screen and (min-width: 1440px) {
      width: 54rem;
    }

    h6 {
      margin: 4.1rem auto 3.2rem 2.4rem;

      @media only screen and (min-width: 768px) {
        margin: 10.1rem auto 3.2rem 4.1rem;
      }

      @media only screen and (min-width: 1440px) {
        margin-left: 9.5rem;
      }
    }

    button {
      margin: 0 14.15rem 4.1rem 2.55rem;

      @media only screen and (min-width: 768px) {
        margin: 0 auto auto 4.25rem;
      }

      @media only screen and (min-width: 1440px) {
        margin-left: 9.65rem;
      }
    }
  }
}
