$primary_color_dark_orange: #d87d4a;
$primary_color_light_orange: #fbaf85;
$primary_color_black_1: #000000;
$primary_color_footer: #101010;
$secondary_color_grey: #f1f1f1;
$secondary_color_grey: #f1f1f1;

$primary_color_white_plain: #ffffff;
$primary_color_background: #fafafa;
$background_color: #f2f2f2;

$secondary_button_hover_color: #4c4c4c;
$secondary_header_color: #191919;
$secondary_input_border: #cfcfcf;

$secondary_input_invalid: #cd2c2c;
$secondary_header_border: rgba(241, 241, 241, 0.1);
